Makefile
*/Makefile
config.h
config.log
config.status
data/codefox.appdata.xml
data/codefox.desktop
data/codefox.pc
libtool
po/.intltool-merge-cache
po/Makefile.in
po/POTFILES
po/stamp-it
po/zh_CN.gmo
src/.deps/
src/codefox
src/codefox-*.o
stamp-h1
template/*.ui

